%p
  = t('general.invites.text', name: invite.project.name)
  %b
  = invite.project.description
  %br
  = t('general.project.created_by', user: invite.admin.name)
  %br
  = link_to t('general.invites.accept'), [invite.project, invite], data: { method: :put }
  = link_to t('general.invites.ignore'), [invite.project, invite], data: { confirm: 'Are you sure?', method: :delete }