%p
  = t('general.invites.hello', name: @name)
  %br

  - if @invites.present?
    = t('general.invites.you_invited')
    %br
    - @invites.each do |invite|
      %p
        = t('general.project.project', name: invite.project.name)
        %br
        = t('general.project.description', text: invite.project.description)
        %br
        = t('general.project.created_by', user: invite.project.admin.name)
        %br
        = t('general.project.invited_by', user: invite.creator_name)
        %br
        = link_to 'Accept', project_invite_facebook_update_url(invite.project, invite)
        = link_to 'Ignore', project_invite_facebook_destroy_url(invite.project, invite)
      %hr
  - else
    = t('general.invites.no_invites')
    %br
    %br
    = t('general.invites.go_to_our_site')
    = link_to root_url, root_url