%p
  Hello,
  %b
    = @name
  !
  %br

  - if @invites.present?
    You have been invited to next projects
    %br
    - @invites.each do |invite|
      %p
        %b Project:
        = invite.project.name
        %br
        %b Description:
        = invite.project.description
        %br
        %b Created by:
        = invite.project.admin.name
        %br
        = link_to 'Accept', project_invite_facebook_update_url(invite.project, invite)
        = link_to 'Ignore', project_invite_facebook_destroy_url(invite.project, invite)
      %hr
  - else
    You have no new invites
    %br
    %br
    Please, go to the our web site:
    = link_to root_url, root_url