#fb-root
%h2 Invite your Friends

= form_for [@project, Invite.new], :html => {:method => :post} do |f|
  %h4
    Via Facebook:
  #fb-invite-link Facebook invitation
  #invite-other

  - content_for :javascript_code
  :javascript
    InviteFriend.initialize('#invite-other', []);
  = render 'shared/fb_js_sdk'

  %h4
    By email
  #by_email
    = render :partial => 'invite_fields', :collection => @invites, :as => :invite
  .center
    = link_to 'Other participants', '#',  id: 'add_email_participant', class: 'btn'
  %p= f.submit 'Ready'