#fb-root
%h2
  = t('general.invites.invite_friends')

= form_for [@project, Invite.new], :html => {:method => :post} do |f|
  %h4
    = t('general.invites.via_facebook')
  %div{id: 'fb-invite-link'}
  #invite-other
    .hidden.invite_ids
      = invite_ids(@project)

  - content_for :javascript_code
  :javascript
    InviteFriend.initialize('#invite-other');
  = render 'shared/fb_js_sdk'

  %br
  %h4
    = t('general.invites.by_email')
  #by_email
    = render :partial => 'invite_fields', :collection => @invites, :as => :invite
  .center
    = link_to t('general.invites.others'), '#',  id: 'add_email_participant', class: 'btn'
  %p= f.submit t('general.invites.ready')