%h2 Send invitation

= form_for [@project, @invite], :html => {:method => :post} do |f|
  = render "shared/error_messages", :target => @invite
  %h4
    By email
  #by_email
    .email_participant
      Participant:
      = text_field_tag 'user[name][]', nil, :placeholder => 'Name'
      = text_field_tag 'user[email][]', nil, :placeholder => 'Email'
  .center
    = link_to 'Other participants', '#',  id: 'add_email_participant', class: 'btn'
  %p= f.submit 'Ready'