<h3><%= t('general.profile') %></h3>

<%= simple_form_for(resource, :as => resource_name, :url => profile_path, :html => {:method => :put, :class => 'form-horizontal left', }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, :required => true %>
    <div class="inputs">
      <%= f.input :name, :autofocus => true %>
    </div>
    <div class="inputs">
      <%= f.input :notification_donated, :as => :boolean %>
      <%= f.input :notification_new_comment, :as => :boolean %>
    </div>
    <div class="actions">
      <%= f.button :submit, t('general.update') %>
    </div>

    <div class='right'>
      <%= f.input :attachment_id, :as => :hidden %>
      <%= render 'shared/ajax_photo', {image_thumb: resource.avatar, default_url: asset_path(Attachment.new.image) ,attachment: resource.current_attachment} %>
    </div>
<% end %>
<div class='clear'>
</div>

<h3><%= t('general.change_password') %></h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
    <div class="inputs">
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => false %>
    </div>
    <div class="actions">
      <%= f.button :submit, t('general.change_password') %>
    </div>
<% end %>

<%= link_to t('general.back'), projects_path %>

<%
   attachment = current_user.attachment || Attachment.new
%>
<%= content_for :javascript_code do %>
    PhotoUpload.initialize('<%= attachment_url(attachment) %>');
<% end %>