<h3>Profile</h3>

<%= simple_form_for(resource, :as => resource_name, :url => profile_path, :html => { :method => :put, :class => 'form-horizontal', :style => 'float:left' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :required => true %>
  <div class="inputs">
    <%= f.input :name, :autofocus => true %>
    <%= f.input :attachment_id, :as => :hidden %>

    <%= link_to('Change photo', '#', :id => 'upload_button' ) %>

  </div>
  <div class="inputs">
    <%= f.input :notification_donated, :as => :boolean %>
    <%= f.input :notification_new_comment, :as => :boolean %>
  </div>
  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= image_tag resource.avatar, :width => 300, :style=>"float:right" %>

<div style='clear:both'>
</div>

<h3>Change password</h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <div class="inputs">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => false %>
  </div>
  <div class="actions">
    <%= f.button :submit, "Change password" %>
  </div>
<% end %>

<%= link_to "Back", :back %>

<%
   attachment = current_user.attachment ||  Attachment.new
%>
<script>
  $(function(){
    PhotoUpload.initialize('<%= attachment_url(attachment) %>');
  })
</script>