.donation_state
  %h4
    = t('general.active_users')
  = format_total_amount(@project.donated_amount)

  %table.table-bordered.with_spaces
    %thead
      %tr
        %th
          = t('general.invites.name')
        %th
          = t('general.amount')

    %tbody
      - @project.users.each do |user|
        %tr
          %td= user.name
          %td= format_fee_amount @project.visible_fee_amount_from(user)