= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs.left
    = f.input :name
    = f.input :description
    = f.input :article_link    
    = f.input :participants_add_own_suggestions, as: :boolean
    = f.input :attachment_id, :as => :hidden
  .right
    = image_tag @project.image, :width => 300, :id => :avatar_image
    = link_to 'Upload photo', '#', :id => 'upload_button'
  .clear
  #end-type.accordeon
    .accordion-group.form-inputs
      %div{ class: 'accordion-heading' }
        = label_tag(nil, class: 'accordion-toggle', data: { target: '#fixed-amount-collapse', toggle: 'collapse', parent: '#end-type' }) do
          = f.radio_button :end_type, :fixed_amount
          Earn up to fixed amount
      #fixed-amount-collapse.collapse.accordion-body{ class: f.object.fixed_amount? && 'in' }
        = f.input :fixed_amount

    .accordion-group.form-inputs
      %div{ class: 'accordion-heading' }
        =label_tag(nil, class: 'accordion-toggle', data: { target: '#open-end-collapse', toggle: 'collapse', parent: '#end-type' }) do
          = f.radio_button :end_type, :open_end
          Gather with OpenEnd
      #open-end-collapse.collapse.accordion-body{ class: f.object.open_end? && 'in' }
        %p
          No fixed amount to achieve.

  .form-inputs
    = f.input :deadline, input_html: { class: 'datetimepicker' }

    = f.input :paid_type, as: :radio_buttons do
      - f.collection_radio_buttons :paid_type, Project::PAID_TYPES, :to_s, lambda { |p| p.to_s.humanize } do |b|
        = b.label(class: 'radio inline') { b.radio_button + b.text }

    = render 'paid_info', f: f

  .form-actions
    = f.button :submit
= content_for :javascript_code do
  ="PhotoUpload.initialize('#{attachment_url(current_user.attachment ||  Attachment.new)}');"