= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs.left
    = f.input :name, :required => true
    = f.input :description
    = f.input :participants_add_own_suggestions, as: :boolean
  .right
    = f.input :attachment_id, :as => :hidden
    = render 'shared/ajax_photo', {image_thumb: @project.image_thumb, default_url: asset_path(Attachment.new.image.thumb) ,attachment: @project.current_attachment}
  .clear
  - if @project.new_record?
    %h3
      = t('general.project.first_gift')
    = f.simple_fields_for :cards, @project.cards.first || Card.new do |card|
      = render 'cards/form_fields', f:card
  #end-type.accordeon
    .accordion-group.form-inputs
      %div{ class: 'accordion-heading' }
        = label_tag(nil, class: 'accordion-toggle', data: { target: '#fixed-amount-collapse', toggle: 'collapse', parent: '#end-type' }) do
          = f.radio_button :end_type, :fixed_amount
          = t('general.project.fixed_amount')
      #fixed-amount-collapse.collapse.accordion-body{ class: f.object.fixed_amount? && 'in' }
        = f.input :fixed_amount, :required => true, :input_html => {:type => "number"}

    .accordion-group.form-inputs
      %div{ class: 'accordion-heading' }
        =label_tag(nil, class: 'accordion-toggle', data: { target: '#open-end-collapse', toggle: 'collapse', parent: '#end-type' }) do
          = f.radio_button :end_type, :open_end
          = t('general.project.open_end')
      #open-end-collapse.collapse.accordion-body{ class: f.object.open_end? && 'in' }
        %p
          = t('general.project.no_fixed_amount')
        = f.input :deadline, input_html: { class: 'datetimepicker' }


  .form-inputs
    = f.input :paid_type, :input_html => {:required => true},  as: :radio_buttons do
      - f.collection_radio_buttons :paid_type, Project::PAID_TYPES, :to_s, lambda { |p| p.to_s.humanize } do |b|
        = b.label(class: 'radio inline') { b.radio_button + b.text }

    = render 'paid_info', f: f

  .form-actions
    = f.button :submit
= content_for :javascript_code do
  ="PhotoUpload.initialize('#{attachment_url(current_user.attachment ||  Attachment.new)}');"

- if @project.new_record?
  = render 'cards/search_modal'
  = render 'cards/choose_image'