%h1 Listing projects

%table.table-bordered.projects
  %thead
    %tr
      %th Name
      %th Description
      %th Article link
      %th Participants add own suggestions
      %th Fixed amount
      %th Opend end
      %th Paid type
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td= project.article_link
        %td= project.participants_add_own_suggestions
        %td= project.fixed_amount
        %td= project.open_end
        %td= project.paid_type
        %td= link_to 'Show', project
        - if project.can_manage?(current_user)
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, data: { confirm: 'Are you sure?', method: :delete }

%br

= link_to 'New Project', new_project_path
