- if @projects.present?
  %table.table-bordered.with_spaces
    %tbody
    - @projects.each do |project|
      %tr
        %td
          = image_tag project.image
        %td
          = project.name
          %br
          = project.description
          %br
          Created by
          = project.admin.name
          on
          = project.created_at
        %td
          = link_to 'Show', project
          = link_to 'Edit', edit_project_path(project) if can? :edit, project
      %tr
        %td{colspan: 3 }
          = format_total_amount project.donated_amount
          Members:
          = project.users.count
          Expires on
          = project.deadline
          %br
          - if project.fixed_amount.present?
            Goal
            = currency project.fixed_amount
            Progress
            = project.amount_percent
            = '%'
      %tr
        %td{colspan: 3 }
          %br
          %br

= render :partial => 'invites/invite', :collection => @pending_invites, :as => :invite
%br

= link_to 'New Project', new_project_path if can? :create, Project
