- if @projects.present?
  %table{border: 1}
    %tbody
    - @projects.each do |project|
      %tr
        %td
          .icon
            = image_tag project.image_thumb
        %td
          = project.name
          %br
          = project.description
          %br
          = t('general.project_created', name: project.admin.name, date: project.created_at)
        %td
          = link_to 'Show', project
          = link_to 'Edit', edit_project_path(project) if can? :edit, project and !project.closed
      %tr
        %td{colspan: 3 }
          - if project.closed
            = t('general.collected_amount', amount: currency(project.donated_amount)).html_safe
            %br
            = t('general.project_closed', name: project.admin.name, date: project.closed_at)
            %br
            = t('general.members_contributes', count: project.donated_users)
          - else
            = format_total_amount project.donated_amount
            = t('general.members', count: project.users.count)
            %br
            = t('general.expires_on', date: project.deadline)
            %br
            - if project.fixed_amount.present?
              Goal
              = currency project.fixed_amount
              Progress
              = number_to_percentage project.amount_percent, :precision => 2
      %tr
        %td{colspan: 3 }
          %br
          %br

= render :partial => 'invites/invite', :collection => @pending_invites, :as => :invite
%br

= link_to 'New Project', new_project_path if can? :create, Project
