%p#notice= notice

%p
  .row
    .span4
      %span= @project.name
      <br/>
      %span= @project.description
    .span8
      .btn.pull-right
        = link_to 'Profile'
  %hr
  .row
    .span10
      %div
        gift image, name, price, web link here
    .span2
      .btn.pull-right.clear-right
        = link_to 'Donate'
      .btn.pull-right.clear-right
        = link_to 'Add gift suggestion'

  %hr
  .btn
    = link_to 'Add comment'


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
