%p
  .row
    .span4
      %span= image_tag @project.image if @project.image?
      %span= @project.name
      <br/>
      %span= @project.description
    .span8
      .btn.pull-right
        = link_to 'Invites', [:new, @project, :invite]
      - if can? :edit, @project
        .btn.pull-right
          = link_to 'Edit project', edit_project_path(@project)
      - if can? :close, @project
        .btn.pull-right
          = link_to 'Close project'

  - if @project.users
    Users:<br/ >
    = render @project.users

  %hr
  .row
    .span10
      - unless @project.cards.blank?
        = render @project.cards
      - else
        No any gifts

    .span2
      .btn.pull-right.clear-right
        = link_to 'Engage', new_project_fee_url(@project)
      .btn.pull-right.clear-right
        = link_to 'Add gift suggestion', new_project_card_path(@project) if can? :create, @project => Card
  .clearfix
  = render 'donation_state'
  - if can? :show, @project => Comment
    %hr
      - if can? :create, @project => Comment
        = render 'comments/form'
      #comments
        = render @project.comments.ordered_by_date
