%p#notice= notice

%p
  .row
    .span4
      %span= image_tag @project.image if @project.image?
      %span= @project.name
      <br/>
      %span= @project.description
    .span8
      .btn.pull-right
        = link_to 'Profile', @project.user
      .btn.pull-right
        = link_to 'Edit project', edit_project_path(@project)
      .btn.pull-right
        = link_to 'Close project'

  %hr
  .row
    .span10
      - unless @project.cards.blank?
        = render @project.cards
      - else
        No any gifts

    .span2
      .btn.pull-right.clear-right
        = link_to 'Donate'
      .btn.pull-right.clear-right
        = link_to 'Add gift suggestion', new_project_card_path(@project)
  .clearfix

  %hr
    = render 'comments/form'
    #comments
      = render @project.comments.ordered_by_date
