%p
  .row
    .span4
      %span= image_tag @project.image if @project.image?
      %br
      %span= @project.name
      %br
      %span= @project.description
    .span8
      .btn.pull-right
        = link_to 'Invites', [:new, @project, :invite]
      - if can? :edit, @project
        .btn.pull-right
          = link_to 'Edit project', edit_project_path(@project)
      - if can? :close, @project
        .btn.pull-right
          = link_to 'Close project'
      - if true
        .btn.pull-right
          = link_to 'Withdraw', project_withdraws_path(@project)

  %hr
  .row
    .span10
      - unless @project.cards.blank?
        = render @project.cards
      - else
        No any gifts

    .span2
      .btn.pull-right.clear-right
        = link_to 'Engage', new_project_fee_url(@project)
      - if can? :create, @project.cards.build
        .btn.pull-right.clear-right
          = link_to 'Add gift suggestion', new_project_card_path(@project)
  .clearfix
  - if can? :show, @project.comments.build
    %hr
      - if can? :create, @project.comments.build
        = render 'comments/form'
      #comments
        = render @project.comments.ordered_by_date
