%h2 Send invitation
%h4  By email

= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
  = render "shared/error_messages", :target => @invite
  .email_participant
    Participant:
    = text_field_tag 'user[name][]', nil, :placeholder => 'Name'
    = text_field_tag 'user[email][]', nil, :placeholder => 'Email'
  %p= f.submit 'Ready'

= link_to "Home", after_sign_in_path_for(resource_name)
