<p><%= t('general.invites.hello', name: @invite.user.name) %>!</p>

<p><%= t('devise.mailer.invitation_instructions.text', url: root_url) %></p>

<%= render 'project_info', project: @invite.project %>

<p><%= link_to t('devise.mailer.invitation_instructions.link'),  project_invite_url(@invite.project, @invite) %></p>

<p><%= t('devise.mailer.invitation_instructions.footer') %></p>