.form-inputs
  %span= f.input :name
  .description
    %span= f.input :description, as: :text, :input_html => { :cols => 50, :rows => 4 }
    %span
      = link_to 'Amazon search', '#search_modal', data: { toggle: 'modal'}, class: 'btn'
  .clearfix
  = f.input :web_link
  #select_buttons.buttons.hidden
    = t('general.choose_thumbnail')
    %span.counters
      %span.current_count
        0
      of
      %span.count
        0
    = link_to 'Prev', '#', :id => :prev_image
    = link_to 'Next', '#', :id => :next_image
  .image
    = f.input :remote_image_url, as: :hidden
    = image_tag @project.image_thumb, :id => :avatar_image
    = link_to t('general.upload_photo'), '#', :id => 'upload_button'
  = f.input :price
= content_for :javascript_code do
  ="PhotoUpload.initialize('#{attachment_url(Attachment.new, :format => :json)}', function(id, response) { image_selector.push_image(response.url); } )"