= simple_form_for(@card, url: [@project, :cards]) do |f|
  = f.hidden_field :project_id, :value => @project.id
  .form-errors
    = render "shared/error_messages", :target => @card
  = render 'form_fields', f: f
  .form-actions
    = f.button :submit, t('simple_form.add_gift')

= render 'search_modal'
