= simple_form_for(@card, url: [@project, :cards]) do |f|
  = f.hidden_field :project_id, :value => @project.id
  .form-errors
    = render "shared/error_messages", :target => @card
  .form-inputs
    %span= f.input :name
    .description
      %span= f.input :description
      %span 
        = link_to 'Amazon search', '#search_modal', data: { toggle: 'modal'}, class: 'btn'
    .clearfix
    = f.input :web_link
    .image
      = f.input :image
      = f.input :remote_image_url
    = f.input :price

  .form-actions
    = f.button :submit, t('simple_form.add_gift')

= render 'search_modal'
