= simple_form_for(@card, url: [@project, :cards]) do |f|
  .form-errors
    = render "shared/error_messages", :target => @card
  .form-inputs
    %span= f.input :name
    .description

      %span= f.input :description#, :placeholder => t('placeholders.defaults.description')
      %span= f.button :button, 'Amazon search'
    .clearfix
    = f.input :web_link
    .image
      = f.input :image
    = f.input :price

  .form-actions
    = f.button :submit, t('simple_form.add_gift')
