= render "shared/error_messages", :target => @fee

= form_for [@project, @fee] do |f|
  %p
    = f.label :amount
    = f.text_field :amount
  %p
    = f.label :visible, 'Visible for other members?'
    = f.check_box :visible
  = f.label :payment_method, 'Credit Card'
  = f.radio_button :payment_method, 'cc', :checked => true
  = f.label :payment_method, 'PayPal'
  = f.radio_button :payment_method, 'paypal'
  %br
  = f.submit 'Next'
